@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.App {
  width:100vw;
  height: 100vh;
  font-family: Poppins;
  overflow: hidden;
  margin: 0;
  padding: 0;
  
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.react-calendar__tile {
  width: 200px;
}

/*Media queries*/
@media screen and (max-width:1230px){
  .login{
    justify-content: center;
    gap:1px;
  }
    .btn{
      width:280px;
    }
    .message{
      font-size: 23px;
    }
    .image img{
      width:800px;
    }
}
@media screen and (max-width:1062px){
  .App{
    overflow-y: scroll;
  }
  .image img{
    height: 400px;
    top:-5px;
  }
  .login{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .loginBlock{
    top:25%;
  }
  .btn{
    width:338px;

  }
  .message{
    font-size: 25.2px;
  }
}
@media screen and (max-width:830px){

  .image img{
    height: 300px;
    top:-5px;
    width: 600px;
  }
  .image{
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width:620px){
  .image img{
    height: 300px;
    width: 500px;
  }
}
@media screen and (max-width:500px){
  .image img{
    height: 300px;
    width: 400px;
  }
}
@media screen and (max-width:400px){
  .image img{
    height: 300px;
    width: 300px;
  }
  .btn{
    width:90%;
  }
  .message{
    font-size:20px;
  }
}

